# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/.gitattributes
/CREDITS.txt
/LICENSE.txt
/README.txt
/build.gradle
/changelog.txt
/gradle.properties
/gradlew
/gradlew.bat
/output.txt
/simpleclock.png
/Build JAR.bat
